@model IEnumerable<OnlineShop.Models.Order>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Shipper/Views/Shared/_ShipperLayout.cshtml";
}

<h2>Danh sách đơn hàng có thể nhận</h2>

<div style="max-width:450px;flex-direction:row">
    <form asp-action="Index" asp-controller="Home" method="get">
        <input style="width:350px"  name="keyword" type="text" placeholder="Tìm kiếm theo tên người nhận, địa chỉ hoặc sđt">
        <button class="btn btn-primary" type="submit">Tìm</button>
    </form>
    @if(ViewBag.success != null)
    {
        <h2 class="text-success">@ViewBag.success</h2>
    }
</div>
<br />
@if (Model.Count() == 0)
{
    <p class="text-danger">Không có đơn hàng nào</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Người đặt
            </th>
            <th>
                Người nhận
            </th>
            <th>
                Tình trạng thanh toán
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                @if (item.IsPay == 0)
                {
                    <td>Chưa thanh toán</td>
                }
                @if (item.IsPay == 1)
                {
                    <td>Đã thanh toán</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                    <td>

                    <a id="confirm_link" class="btn btn-success" asp-controller="Home" asp-action="ReceiveDelivery" asp-route-id="@item.OrderId" data-id="@item.OrderId">Nhận giao hàng</a>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            const confirmLink = document.getElementById('confirm_link');
                            var id = confirmLink.getAttribute('data-id')
                            confirmLink.onclick = function (event) {
                                event.preventDefault();
                                const href = confirmLink.getAttribute('href');

                                Swal.fire({
                                    title: 'Xác nhận?',
                                    text: "Bạn chắc nhận giao đơn hàng này chứ?",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    cancelButtonText: 'Hủy',
                                    confirmButtonText: 'Chắc chắn!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        fetch(href, {
                                            method: 'POST'
                                        })
                                            .then(response => {
                                                if (response.ok) {
                                                    Swal.fire({
                                                        title: 'Thành công!',
                                                        text: 'Bạn đã nhận giao đơn hàng #'+id,
                                                        icon: 'success',
                                                        confirmButtonText: 'OK',
                                                        timer: 2000,
                                                        timerProgressBar: true
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            location.reload();
                                                        }
                                                    });
                                                } else {
                                                    Swal.fire({
                                                        title: 'Thất bại!',
                                                        text: 'Có lỗi xảy ra',
                                                        icon: 'error',
                                                        confirmButtonText: 'OK',
                                                        timer: 2000,
                                                        timerProgressBar: true
                                                    });
                                                }
                                            });
                                    }
                                });
                            }
                        });
                    </script>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                    </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page }),
new PagedListRenderOptions {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}, 
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true, 
        EllipsesElementClass = "page-item disabled",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never
})
