@model IEnumerable<OnlineShop.Models.Order>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Đơn hàng đã nhận";
    Layout = "~/Areas/Shipper/Views/Shared/_ShipperLayout.cshtml";
}

<h2>Danh sách đơn hàng đã nhận giao</h2>
<div style="max-width:450px;flex-direction:row">
    <form asp-action="ReceiveOrderList" asp-controller="Home" method="get">
        <input style="width:350px" name="keyword" type="text" placeholder="Tìm kiếm theo tên người nhận, địa chỉ hoặc sđt">
        <button class="btn btn-primary" type="submit">Tìm</button>
    </form>
</div>

<br />
@if (Model.Count() == 0)
{
    <p class="text-danger">Không có đơn hàng nào</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Người đặt
            </th>
            <th>
                Người nhận
            </th>
            <th>
                Tình trạng thanh toán
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                @if (item.IsPay == 0)
                {
                    <td>Chưa thanh toán</td>
                }
                @if (item.IsPay == 1)
                {
                    <td>Đã thanh toán</td>
                }
                <td>
                        @Html.DisplayFor(modelItem => item.Status.StatusName)
                </td>
                @if (item.Status.StatusName == "Đang giao")
                {
                    <td>
                        <a class="btn btn-warning" asp-controller="Home" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a> |
                        <a class="btn btn-primary delivered-link" asp-controller="Home" asp-action="Delivered" asp-route-id="@item.OrderId" data-id="@item.OrderId">Đã giao</a>

                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-warning" asp-controller="Home" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                    </td>

                }
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        document.body.addEventListener('click', function (event) {
                            if (event.target.matches('.delivered-link')) {
                                event.preventDefault();
                                const link = event.target;
                                const href = link.getAttribute('href');
                                const orderId = link.getAttribute('data-id');

                                Swal.fire({
                                    title: 'Xác nhận?',
                                    text: "Bạn chắc chắn đã giao đơn hàng này?",
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    cancelButtonText: 'Hủy',
                                    confirmButtonText: 'Chắc chắn!'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        fetch(href, {
                                            method: 'POST'
                                        })
                                            .then(response => {
                                                if (response.ok) {
                                                    Swal.fire({
                                                        title: 'Thành công!',
                                                        text: 'Bạn đã giao cho người nhận đơn hàng #' + orderId,
                                                        icon: 'success',
                                                        confirmButtonText: 'OK',
                                                        timer: 2000,
                                                        timerProgressBar: true
                                                    }).then((result) => {
                                                        if (result.isConfirmed) {
                                                            location.reload();
                                                        }
                                                    });
                                                } else {
                                                    Swal.fire({
                                                        title: 'Thất bại!',
                                                        text: 'Có lỗi xảy ra',
                                                        icon: 'error',
                                                        confirmButtonText: 'OK',
                                                        timer: 2000,
                                                        timerProgressBar: true
                                                    });
                                                }
                                            });
                                    }
                                });
                            }
                        });
                    });
                </script>
                
            </tr>
        }

    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("ReceiveOrderList", new {page = page }),
new PagedListRenderOptions {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}, 
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true, 
        EllipsesElementClass = "page-item disabled",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never
})


