@model IEnumerable<OnlineShop.Models.Voucher>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<link href="~/AdminAssets/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<h2>Quản lý voucher</h2>

<p>
    <a class="btn btn-success" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Create">Thêm voucher</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên voucher
            </th>
            <th>
                Giảm giá
            </th>
             <th>
                Ngày phát hành
            </th>
             <th>
                Ngày hết hạn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherName)
                    </td>
                    <td>
                        @if(item.DiscountType == "Percent")
                        {
                            @Html.Raw(item.Discount + "%")
                        }
                        else if(item.DiscountType == "Amount")
                        {
                           @Html.Raw(string.Format("{0:0,0} VNĐ", item.Discount))
                        }

                    </td>
                    <td>
                        @Html.Raw(string.Format("{0:dd/MM/yyyy}", item.ReleaseDate))
                    </td>
                    <td>
                         @Html.Raw(string.Format("{0:dd/MM/yyyy}", item.ExpirationDate))
                    </td>
                    <td>
                        
                        <a class="btn btn-success" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Release" asp-route-id="@item.VoucherId">Phát hành</a> |
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Edit" asp-route-id="@item.VoucherId">Chỉnh sửa</a> |
                        <a class="btn btn-warning" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Details" asp-route-id="@item.VoucherId">Chi tiết</a> 
                    </td>
                </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page }), 
new PagedListRenderOptions {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}, 
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true, 
        EllipsesElementClass = "page-item disabled",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never
})