@model IEnumerable<OnlineShop.Models.Voucher>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="canonical" href="https://demo-basic.adminkit.io/" />
	<link href="~/AdminAssets/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<h2>Quản lý voucher</h2>

<p>
    <a class="btn btn-success" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Create">Thêm voucher</a>
</p>
<div class="row">
    <div class="col-xl-2 col-xxl-5 d-flex">
		<div class="col mt-0">
			<select class="form-select" style="width: 170px;" id="discountTypesDropdown">
                <option class="option" hidden>@ViewBag.discountType</option>
                <option class="option" value="All">Tất cả voucher</option>
                <option value = "Percent">Theo %</option>
                <option value = "Amount">Theo số tiền</option>
			</select>
		</div>
    </div>
    <div class="col-xl-2 col-xxl-5 d-flex">
		<div style="display:flex; padding-left:60px;">
			<input class="input-field" id="keyword" type="text" placeholder="Tìm kiếm voucher">
            <button class="form-control" style="margin-left:3px;" id="searchButton" type="submit"><i class="pe-7s-search" data-feather="search"></i></button>
		</div>
        <script>
            document.getElementById('searchButton').addEventListener('click', function() {
                var keyword = document.getElementById('keyword').value;
                window.location.href = '@Url.Action("Index", "AdminVouchers")' + '?keyword=' + keyword;
            });
        </script>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#discountTypesDropdown').change(function() {
            var selectedDiscountType = $(this).val();
            window.location.href = '@Url.Action("Index", "AdminVouchers")' + '?discountType=' + selectedDiscountType;
        });
    });
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Tên voucher
            </th>
            <th>
                Giảm giá
            </th>
             <th>
                Ngày phát hành
            </th>
             <th>
                Ngày hết hạn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VoucherName)
                    </td>
                    <td>
                        @if(item.DiscountType == "Percent")
                        {
                            @Html.Raw(item.Discount + "%")
                        }
                        else if(item.DiscountType == "Amount")
                        {
                           @Html.Raw(string.Format("{0:0,0} VNĐ", item.Discount))
                        }

                    </td>
                    <td>
                        @Html.Raw(string.Format("{0:dd/MM/yyyy}", item.ReleaseDate))
                    </td>
                    <td>
                         @Html.Raw(string.Format("{0:dd/MM/yyyy}", item.ExpirationDate))
                    </td>
                    <td>
                        
                        <a class="btn btn-success" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Release" asp-route-id="@item.VoucherId">Phát hành</a> |
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Edit" asp-route-id="@item.VoucherId">Chỉnh sửa</a> |
                        <a class="btn btn-warning" asp-area="Admin" asp-controller="AdminVouchers" asp-action="Details" asp-route-id="@item.VoucherId">Chi tiết</a> 
                    </td>
                </tr>
        }
    </tbody>
</table>
@if(Model.Count() == 0)
{
    <p class="text-danger" style="padding-left:350px;">Không tìm thấy kết quả!</p>
}
@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page }), 
new PagedListRenderOptions {
        LiElementClasses = new string[] {"page-item"},
        PageClasses = new string[] {"page-link"}, 
        MaximumPageNumbersToDisplay = 5,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
        DisplayLinkToNextPage = PagedListDisplayMode.Always,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true, 
        EllipsesElementClass = "page-item disabled",
        LinkToPreviousPageFormat = "<",
        LinkToNextPageFormat = ">",
        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
        DisplayLinkToLastPage = PagedListDisplayMode.Never
})