@model OnlineShop.Models.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xác nhận đơn hàng</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Người đặt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt>
            Người nhận
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            SĐT
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            Tình trạng thanh toán
        </dt>
        @if (Model.IsPay == 0)
        {
            <dd>Chưa thanh toán</dd>
        }
        @if(Model.IsPay == 1)
        {
            <dd>Đã thanh toán</dd>
        }
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Ngày đặt
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Khả dụng
        </dt>
        @if(Model.IsDeleted == 0)
        {
            <dd>Khả dụng</dd>
        }
        @if(Model.IsDeleted == 1)
        {
            <dd>Không khả dụng</dd>
        }
        <dt>
            Tình trạng đơn hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
        <dt>
            Voucher áp dụng
        </dt>
        @if (Model.VoucherId > 0)
        {
            <dd>
                @Html.DisplayFor(model => model.Voucher.VoucherName)
            </dd>
        }
        else
        {
            <dd>
                Không có
            </dd>
        }
        <dt>
            Sản phẩm
        </dt>
        <dd>
            @foreach(var item in ViewBag.lst)
            {
                <div style="display:flex;"> 
                    <div><p style="display: block; 
                                    width: 202px; height: auto;
                                    word-break: break-all; word-wrap: break-word;
                                    white-space: normal;">@item.ProductName</p></div>
                    <div><span class="amount" style="padding-left:10px; font-weight:bold;">x @item.Count: </span></div>
                    <div><span class="amount"  style="padding-left:10px;">@item.Total.ToString("#,##0") VNĐ</span></div>
                </div>
            }
        </dd>
        <dt>
            Tổng đơn hàng
        </dt>
        <dd>
            @ViewBag.total.ToString("#,##0") VNĐ
        </dd>
    </dl>
    
    <form asp-action="Edit">
        <input type="hidden" asp-for="OrderId" />
        <input id="btnConfirm" type="submit" value="Xác nhận" class="btn btn-success" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

    connection.start().then(function () {

        console.log("SignalR connected");
    }).catch(function (err) {
        return console.error(err.toString());
    });
    document.getElementById('btnConfirm').addEventListener('click', function () {
        noticeUser()
    });


    function noticeUser() {
        console.log("sdasd");
        connection.invoke("Notice").catch(err => console.error(err));

        createNotice();
    }


    function createNotice() {
        $.ajax({
            url: '/api/Firebase/PushNotice', // Thay đổi URL thành URL của API
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                receivedId: ''+@Model.UserId,
                content: "Đơn hàng #" + @Model.OrderId + " đã thay đổi trạng thái"
            }),
            success: function (response) {
                $('#response').html('<p>' + response + '</p>');
            },
            error: function (xhr, status, error) {
                $('#response').html('<p>' + xhr.responseText + '</p>');
            }
        });
    }
</script>



